body {
    background-color: rgb(59, 59, 77);
    display: flex;
    align-items: center;
}

.container {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    font-family: sans-serif;
}

.phone-exterior {
    margin-top: 25px;;
    background-color: black;
    width: 85%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-interior {
    color: white;
}